{% extends "app/layout.html" %}

{% block content %}
<style>
    li .form-group {
        margin-top:10px;
    }
</style>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'JobSearch' %}">
                        <i class="pe-7s-graph"></i>
                        <p>統計圖表</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'JobTable' %}">
                        <i class="pe-7s-note2"></i>
                        <p>職缺列表</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="職務名稱" />
                            </div>
                        </li>
                        <li class="dropdown">
                              <input class="btn btn-primary dropdown-toggle" type="button" 
                                      id="areaSelectButton" 
                                      data-toggle="dropdown" 
                                      aria-haspopup="true" 
                                      aria-expanded="false"
                                      style="margin-top:10px;margin-left:10px;"
                                      value="地區" />
                              <ul class="dropdown-menu">
                                <li><a href="#" onclick="ad(this);">北部(北北基、桃、竹、苗)</a></li>
                                <li><a href="#" onclick="ad();">中部</a></li>
                                <li><a href="#" onclick="ad();">南部</a></li>
                                <li><a href="#" onclick="ad();">東部</a></li>
                                <li><a href="#" onclick="ad();">離島</a></li>
                              </ul>
                        </li>
                        <li>
                           <button class="btn btn-info" value="查詢" style="margin-left:10px;margin-top:10px;">查詢
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </button>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Admin</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										管理功能
										<b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>登出</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">職缺列表</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>職務名稱</th>
                                    	<th>機關/單位</th>
                                    	<th>地區</th>
                                    	<th>最低學歷要求</th>
                                    	<th>詳細內容</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>國立臺灣大學藝術史研究所專任教師</td>
                                            <td>國立臺灣大學</td>
                                            <td>台北市大安區</td>
                                            <td>博士</td>
                                        	<td><a href="https://job.taiwanjobs.gov.tw/Internet/jobwanted/JobDetail.aspx?EMPLOYER_ID=49116&HIRE_ID=9970425">詳細內容</a></td>
                                        </tr>
                                        <tr>
                                            <td>業務專員(北區)</td>
                                            <td>佳儀國際有限公司</td>
                                            <td>台北市不限</td>
                                            <td>大學</td>
                                            <td><a href="https://job.taiwanjobs.gov.tw/Internet/jobwanted/JobDetail.aspx?EMPLOYER_ID=2282577&HIRE_ID=10047845">詳細內容</a></td>
                                        </tr>
                                        <tr>
                                            <td>資訊系統整合工程師</td>
                                            <td>洲際通信網絡股份有限公司</td>
                                            <td>台北市內湖區</td>
                                            <td>專科</td>
                                            <td><a href="https://job.taiwanjobs.gov.tw/Internet/jobwanted/JobDetail.aspx?EMPLOYER_ID=971326&HIRE_ID=10047855">詳細內容</a></td>
                                        </tr>
                                        <tr>
                                            <td>中菜廚師</td>
                                            <td>旭陽谷建設開發股份有限公司</td>
                                            <td>台北市士林區</td>
                                            <td>不拘</td>
                                            <td><a href="https://job.taiwanjobs.gov.tw/Internet/jobwanted/JobDetail.aspx?EMPLOYER_ID=388132&HIRE_ID=10047925">詳細內容</a></td>
                                        </tr>
                                        <tr>
                                            <td>會計人員</td>
                                            <td>台北市手工藝製品職業工會</td>
                                            <td>台北市中山區</td>
                                            <td>專科</td>
                                            <td><a href="https://job.taiwanjobs.gov.tw/Internet/jobwanted/JobDetail.aspx?EMPLOYER_ID=623509&HIRE_ID=10063407">詳細內容</a></td>
                                        </tr>
                                        <tr>
                                            <td>清潔人員</td>
                                            <td>彩田興業有限公司</td>
                                            <td>台北市大安區</td>
                                            <td>不拘</td>
                                            <td><a href="https://job.taiwanjobs.gov.tw/Internet/jobwanted/JobDetail.aspx?EMPLOYER_ID=2376089&HIRE_ID=10019269">詳細內容</a></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                    <!--<div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Table on Plain Background</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Name</th>
                                    	<th>Salary</th>
                                    	<th>Country</th>
                                    	<th>City</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>1</td>
                                        	<td>Dakota Rice</td>
                                        	<td>$36,738</td>
                                        	<td>Niger</td>
                                        	<td>Oud-Turnhout</td>
                                        </tr>
                                        <tr>
                                        	<td>2</td>
                                        	<td>Minerva Hooper</td>
                                        	<td>$23,789</td>
                                        	<td>Curaçao</td>
                                        	<td>Sinaai-Waas</td>
                                        </tr>
                                        <tr>
                                        	<td>3</td>
                                        	<td>Sage Rodriguez</td>
                                        	<td>$56,142</td>
                                        	<td>Netherlands</td>
                                        	<td>Baileux</td>
                                        </tr>
                                        <tr>
                                        	<td>4</td>
                                        	<td>Philip Chaney</td>
                                        	<td>$38,735</td>
                                        	<td>Korea, South</td>
                                        	<td>Overland Park</td>
                                        </tr>
                                        <tr>
                                        	<td>5</td>
                                        	<td>Doris Greene</td>
                                        	<td>$63,542</td>
                                        	<td>Malawi</td>
                                        	<td>Feldkirchen in Kärnten</td>
                                        </tr>
                                        <tr>
                                        	<td>6</td>
                                        	<td>Mason Porter</td>
                                        	<td>$78,615</td>
                                        	<td>Chile</td>
                                        	<td>Gloucester</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>-->


                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>


    </div>
</div>


</body>

{% endblock %}